/* Style Required for Kesho Website */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap");

.kesho-nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    background: var(--main-background);
}

.kesho-home-container {
    margin: 15rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 60%;
}

.kehso-brand {
    font-size: 4.5rem;
}

.kesho-home-button {
    margin-top: 2rem;
}

@media only screen and (max-width: 110rem) {
    .kesho-home-container {
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 900px) {
    .kesho-home-container {
        margin-top: 8rem;
        max-width: 75%;
    }
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-text-light-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-text-color);
}

/* Main Section */
.content {
    display: flex;
}

/* Container Left */
.content-left {
    width: 18%;
    min-width: 15rem;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 0rem;
    position: fixed;
    top: 1;
    left: 0;
}

.content-left a {
    color: var(--main-text-color);
    font-weight: 800;
    font-size: 2rem;
    margin-top: 0.8rem;
    transition: color 0.2s;
}

.content-left a:hover {
    color: var(--main-text-light-color);
}

/* Container Right */

.content-right {
    width: 80%;
    margin-left: 20%;
}

.content-right__title {
    font-size: 3rem;
    font-weight: 800;
}

.content-right__sub-title {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.code-container {
    width: 80%;
}

code {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}

/* ELEMENTS */
/* Container which contains avatar */
.avatar-wrapper__avatar__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatar {
    /* margin: 0.5rem; */
    /* ! replace this with utility call in HTML to move the single avatar div */
}

.avatar-group {
    margin-left: 1.5rem;
}

/* Container which contains outlined button */
.outlined-button-wrapper {
    display: flex;
}

.outlined-button-wrapper button {
    margin: 2rem;
}

.alert {
    margin: 1rem 1rem 1rem 0;
}

/* &lt; &gt; */
