/* Import Text Font */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap");

@import url(./utilies.css);

/* VARIABLES */
:root {
    /* Blue Gray */
    --main-background: #f8fafc;
    --main-text-color: #0f172a;
    --main-text-light-color: #94a3b8;
    /* 400 */
    --success-dark: #34d399;
    --success-light: #ecfdf5;
    --warning-dark: #fb923c;
    --warning-light: #fff7ed;
    --error-dark: #f87171;
    --error-light: #fef2f2;
    --info-dark: #60a5fa;
    --info-light: #eff6ff;
    --input-outline: #d1d5db;
}

/* ! UTILITY CLASS WILL COME HERE */

/* BASIC RESET & BODY STYLES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--input-outline);
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: var(--main-background);
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--main-text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

/* AVATAR */
/* Avatar Small */
.avatar {
    display: inline-block;
    border-radius: 50%;
    background: white;
}

/* Avatar Extra Small */
.avatar-xs {
    width: 5rem;
    height: 5rem;
}

/* Avatar Small */
.avatar-s {
    width: 7rem;
    height: 7rem;
}

/* Avatar Medium */
.avatar-md {
    width: 10rem;
    height: 10rem;
}

/* Avatar Large */
.avatar-l {
    width: 12rem;
    height: 12rem;
}

/* AVATAR GROUP */
.avatar-group {
    display: flex;
}

.avatar-group__image {
    margin-left: -1.7rem;
    width: 7rem;
    height: 7rem;
}

/* ALERT */
/* Alert Main Container */
.alert {
    display: flex;
    padding: 1.3rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

/* Alert Text */
.alert__text {
    font-size: 1.7rem;
    margin: auto 1rem;
    font-weight: 500;
}

/* Alert Close Icon */
.alert__icon__close {
    transition: 0.2s;
    cursor: pointer;
}

/* Alert Success Div */
.alert--success {
    background: var(--success-light);
    border: 1.8px solid var(--success-dark);
}

.alert--success--icon {
    color: var(--success-dark);
}

.alert--success--icon--close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--success-dark);
}

/* Alert Warning Dive */
.alert--warning {
    background: var(--warning-light);
    border: 1.8px solid var(--warning-dark);
}

.alert--warning--icon {
    color: var(--warning-dark);
}

.alert--warning--icon--close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--warning-dark);
}

/* Alert Error Div */
.alert--error {
    background: var(--error-light);
    border: 1.8px solid var(--error-dark);
}

.alert--error--icon {
    color: var(--error-dark);
}

.alert--error--icon--close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--error-dark);
}

/* Alert Info Div */
.alert--info {
    background: var(--info-light);
    border: 1.8px solid var(--info-dark);
}

.alert--info--icon {
    color: var(--info-dark);
}

.alert--info--icon--close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--info-dark);
}

/* BADGE */

/* Badge on Icons */
.icon-with-badge {
    width: fit-content;
    position: relative;
    transition: background 0.2s;
}

.icon-with-badge__icon {
    font-size: 36px;
}

.icon-with-badge__text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-background);
    position: absolute;
    top: 0px;
    right: 0px;
    background: var(--main-text-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.icon-with-badge:hover {
    color: var(--main-text-light-color);
    transform: scale(1.04);
    cursor: pointer;
}

.icon-with-badge:hover .icon-with-badge__text {
    background: var(--main-text-light-color);
    transform: scale(1.05);
    cursor: pointer;
}

/* Avatar with Badge */
.avatar-with-badge {
    position: relative;
    width: fit-content;
}

.avatar-with-badge__badge {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--success-dark);
    border-radius: 50%;
    position: absolute;
    bottom: 0.6rem;
    right: 0.1rem;
}

/* BUTTON */
/* Button*/
.btn {
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1.3rem 4rem;
    background: var(--main-background);
    border: none;
    box-shadow: 0px 0px 3px 1px var(--input-outline);
}

.btn:hover {
    color: var(--main-background);
    background: var(--main-text-color);
    cursor: pointer;
    transition: all 0.4s;
}

/* Icon Button */
.btn--icon {
    display: flex;
    align-items: center;
}

.btn--icon:hover {
    color: var(--main-background);
    background: var(--main-text-color);
    cursor: pointer;
    transition: all 0.4s;
}

.btn--icon__icon {
    margin-right: 0.5rem;
}

/* Button Helper */
.btn--sm {
    font-size: 1.5rem;
    padding: 0.8rem 2.3rem;
}

.btn--md {
    font-size: 1.6rem;
    padding: 1rem 2.8rem;
}

.btn--lg {
    font-size: 1.8rem;
    padding: 1.2rem 4rem;
}

/* Link Button */
.btn--link {
    border: none;
    padding: 0.1rem;
    border-bottom: 2px solid var(--main-text-color);
    box-shadow: none;
}

.btn-link:hover {
    background: var(--main-text-color);
    color: var(--main-background);
    transition: all 0.4s;
}

/* Floating Action Button */
.btn--floating {
    padding: 1.5rem;
    background: var(--main-background);
    border-radius: 50%;
    display: flex;
}

.btn--floating:hover {
    color: var(--main-background);
    background: var(--main-text-color);
    cursor: pointer;
    transition: all 0.4s;
}

/* Button Outlined */
.btn--outlined {
    border: 2px solid var(--main-text-color);
    justify-content: space-between;
}

/* CARD */
.card-product {
    padding: 2rem;
    width: 35rem;
    background: #fff;
    box-shadow: 0px 0px 3px 1px var(--input-outline);
}

.card-product__image__wrapper {
    position: relative;
}

.card-product__image {
    width: 100%;
}

.card-product__icon {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background: white;
    border: none;
    cursor: pointer;
}

.card-product__name {
    font-size: 2.3rem;
    font-weight: 500;
}

.card-product__description {
    line-height: 1.5;
}

.card-product__rating__wrapper {
    display: flex;
    margin: 0.5rem 0;
}

.card-product__rating__icon__wrapper {
    display: flex;
    align-items: center;
    background: var(--main-text-color);
    color: var(--main-background);
    padding: 0.4rem 1rem;
    border-radius: 2rem;
}

.card-product__rating__icon__text {
    margin-right: 0.6rem;
}

.card-product__rating__reviews {
    padding: 0.4rem 1rem;
}

.card-product__price__wrapper {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    align-items: center;
}

.card-product__price {
    font-size: 2.3rem;
}

.card-product__price__crossed {
    color: var(--main-text-light-color);
}

/* Video Card */

.card-video {
    width: 30.1rem;
}

.card-video__thumbnail__wrapper {
    position: relative;
}

.card-video__thumbnail {
    max-width: 100%;
    height: auto;
}

.card-video__icon {
    display: none;
}

.card-video__thumbnail:hover + .card-video__icon {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: inline-block;
}

.card-video__title {
    font-size: 1.9rem;
    line-height: 1.2;
}

.card-video__details {
    color: var(--main-text-light-color);
}

/* Blog Card With Image */

.card-blog {
    width: 30.1rem;
    background: #fff;
    padding: 2rem;
}

.card-blog__image {
    width: 100%;
}

.card-blog__title {
    font-size: 2.3rem;
    font-weight: 500;
}

.card-video__details {
    color: var(--main-text-light-color);
}

/* Cart Cart */
/* Product Card */
.card-cart {
    max-width: 50rem;
    width: 90%;
    display: flex;
    align-content: center;
    background: #fff;
    padding: 2.5rem;
    box-shadow: 0px 0px 3px 1px var(--input-outline);
}

.card-cart__image__wrapper {
    width: 30%;
}

.card-cart__image {
    width: 100%;
    height: auto;
}

.card-cart__description {
    width: 80%;
    padding: 0.5rem;
}

.card-cart__description__title {
    font-size: 2rem;
    font-weight: 500;
}

.card-cart__price__wrapper {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0.8rem 0;
}

.card-cart__price__crossed {
    color: var(--main-text-light-color);
}

.card-cart__control__wrapper {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

.card-cart__control__button {
    border: none;
    background: inherit;
    border-radius: 50%;
    padding: 0.6rem;
    /* Center Icon Inside Button */
    display: flex;
}

.card-cart__control__quantity {
    font-size: 1.8rem;
    font-weight: 500;
}

/* Wishlist Card */
.card-wishlist {
    max-width: 60rem;
    display: flex;
    align-content: center;
    background: #fff;
    padding: 2.5rem;
    box-shadow: 0px 0px 3px 1px var(--input-outline);
}

.card-wishlist__image__wrapper {
    width: 30%;
}

.card-wishlist__image {
    width: 100%;
    height: auto;
}

.card-wishlist__description {
    width: 80%;
    padding: 0.5rem;
}

.card-wishlist__description__title {
    font-size: 2rem;
    font-weight: 500;
}

.card-wishlist__price__wrapper {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0.8rem 0;
}

.card-wishlist__price__crossed {
    color: var(--main-text-light-color);
}

.card-wishlist__control__wrapper {
    display: flex;
    align-content: center;
}

.card-wishlist__control__button {
    display: flex;
    margin-right: 2rem;
}

/* INPUT */
/* 
* The background-position property sets the starting position of a background image to left. 
* The background-origin content-box property will set the background image starting from the upper left corner of the content
*/

/* Input: Text */
.input-text {
    font-family: "Montserrat", sans-serif;
    color: var(--main-text-color);
    font-size: 1.8rem;
    padding: 1.3rem;
    border: none;
    width: 40rem;
    text-indent: 3.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px var(--main-text-light-color);

    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box;
    background-size: 2.5rem;
}

.input-text-wrapper input:focus {
    outline: none;
}

.input-text-full-name {
    background-image: url(../images/from-icons/full-name.png);
}

.input-text-email {
    background-image: url(../images/from-icons/email.png);
}

.input-text-password {
    background-image: url(../images/from-icons/password.png);
}

/* Input: Checkbox */

/* Position the main checkbox so that we can use it as a reference for :after and :before */
.input-checkbox {
    position: relative;
    cursor: pointer;
    margin-right: 0.5rem;
}

/* This will create background of checkbox when it unchecked. */
.input-checkbox:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    top: -2px;
    left: -2px;
    background-color: var(--main-background);
    box-shadow: 0px 0px 3px 1px var(--input-outline);
}

/* This will create background of checkbox when it's checked. */
.input-checkbox:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: -2px;
    left: -2px;
    background-color: var(--main-text-color);
}

/* This will create the checked sign, it's being done by creating a element which has border on only two sides and then just rotate it.*/
.input-checkbox:checked:after {
    content: "";
    display: block;
    width: 0.7rem;
    height: 1.2rem;
    border: solid var(--main-background);
    border-width: 0 0.2rem 0.2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -0.1rem;
    left: 0.3rem;
}

/* Input: Slider */

.input-range-wrapper {
    display: flex;
    width: fit-content;
}

.input-range {
    /*removes default webkit styles*/
    width: 25rem;
    margin-left: 1rem;
    -webkit-appearance: none;
    padding: 1.2rem;
    box-shadow: 0px 0px 3px 1px var(--input-outline);
}

.input-range::-webkit-slider-runnable-track {
    height: 0.2rem;
    background: var(--main-text-light-color);
    transition: 0.4s all;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background: var(--main-background);
    box-shadow: 0px 0px 3px 1px var(--input-outline);
    margin-top: -0.5rem;
}

.input-range:focus {
    outline: none;
}

.input-range:hover::-webkit-slider-runnable-track {
    background: var(--main-text-color);
    cursor: pointer;
}

/* Input: Dropdown */
.input-dropdown {
    color: var(--main-text-color);
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    padding: 0.2rem;
    box-shadow: 0px 0px 3px 1px var(--main-text-light-color);
    outline: none;
}

/* Outlined Inputs */

/* Text Input Outlined */
.input-text-outlined {
    border: 1.7px solid var(--main-text-color);
    width: fit-content;
}

/* Checkbox Input Outlined */
.input-checkbox-outlined:before {
    border: 1.7px solid var(--main-text-color);
}

/* Range Input Outlined */
.input-range-outlined {
    border: 1.7px solid var(--main-text-color);
}

/* Dropdown Input Outlined */
.input-dropdown-outlined {
    border: 1.7px solid var(--main-text-color);
}

/* LIST */
.list {
    background: #fff;
    display: flex;
    max-width: 40rem;
    width: 90%;
    height: 10rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.list__content-container__image {
    border-radius: 50%;
    width: 25%;
    height: auto;
}

.list__content-container {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list__content-container__name {
    font-size: 2rem;
    font-weight: 500;
}

.list__content-container__content {
    font-size: 1.7rem;
}

/* MODAL */

.modal {
    padding: 2rem;
    width: 35rem;
    background: #fff;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 3px 1px var(--main-text-light-color);
    -webkit-box-shadow: 0px 0px 3px 1px var(--main-text-light-color);
    -moz-box-shadow: 0px 0px 3px 1px var(--main-text-light-color);
}

.modal__heading {
    font-size: 2.3rem;
}

.modal__icon__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.modal__icon__close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--main-text-color);
    color: var(--main-background);
}

.modal__text {
    font-size: 1.7rem;
    padding: 2rem;
    padding-top: 1rem;
}

/* TYPOGRAPHY */
.heading {
    font-weight: 700;
}

.heading--h1 {
    font-size: 5rem;
}

.heading--h2 {
    font-size: 4.5rem;
}

.heading--h3 {
    font-size: 4rem;
}

.heading--h4 {
    font-size: 3.5rem;
}

.heading--h5 {
    font-size: 3rem;
}

.heading--h6 {
    font-size: 2.5rem;
}

.heading--h7 {
    font-size: 2rem;
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

/* NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1.2rem 3rem;
    align-items: center;
    position: relative;
}

.nav__logo {
    font-size: 2.5rem;
    font-weight: 500;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nav__item {
    list-style-type: none;
    margin-left: 2rem;
}

.nav__link {
    font-size: 1.8rem;
    transition: color 0.3s;
    text-emphasis: none;
}

.nav__link:hover {
    color: var(--main-text-light-color);
}

.nav__hamburger {
    display: none;
}

.nav__hamburger__bar {
    display: block;
    margin: 0.5rem auto;
    height: 0.3rem;
    width: 3rem;
    border-radius: 10rem;
    background: var(--main-text-color);
    transition: all 0.2s;
}

.nav__hamburger__bar:hover > .bar {
    background: var(--main-text-light-color);
}

@media only screen and (max-width: 768px) {
    .nav__hamburger {
        display: block;
        cursor: pointer;
    }

    .nav__menu {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background: #fff;
        padding: 1.5rem;
    }

    .nav__link {
        font-size: 2rem;
    }

    .nav__menu.active {
        display: block;
        position: absolute;
        left: 0;
        top: 6rem;
        transition: all 1s;
    }
}

.nav__hamburger.active .nav__hamburger__bar:nth-child(2) {
    opacity: 0;
}

.nav__hamburger.active .nav__hamburger__bar:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
}

.nav__hamburger.active .nav__hamburger__bar:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
}
