/* Import Text Font */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap");

@import url(./utilies.css);

/* VARIABLES */
:root {
    /* Blue Gray */
    --main-background: #f8fafc;
    --main-text-color: #0f172a;
    --main-text-light-color: #94a3b8;
    /* 400 */
    --success-dark: #34d399;
    --success-light: #ecfdf5;
    --warning-dark: #fb923c;
    --warning-light: #fff7ed;
    --error-dark: #f87171;
    --error-light: #fef2f2;
    --info-dark: #60a5fa;
    --info-light: #eff6ff;
    --input-outline: #d1d5db;
}

/* ! UTILITY CLASS WILL COME HERE */

/* BASIC RESET & BODY STYLES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--input-outline);
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: var(--main-background);
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--main-text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

/* NAVBAR */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

.nav__brand {
    font-family: "Pacifico", cursive;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 3rem;
}

/* AVATAR */
/* Avatar Small */
.avatar {
    display: inline-block;
    border-radius: 50%;
    background: white;
}

/* Avatar Extra Small */
.avatar-xs {
    width: 5rem;
    height: 5rem;
}

/* Avatar Small */
.avatar-s {
    width: 7rem;
    height: 7rem;
}

/* Avatar Medium */
.avatar-md {
    width: 10rem;
    height: 10rem;
}

/* Avatar Large */
.avatar-l {
    width: 12rem;
    height: 12rem;
}

/* AVATAR GROUP */
.avatar-group {
    display: flex;
}

.avatar-group__image {
    margin-left: -1.7rem;
    width: 7rem;
    height: 7rem;
}

/* BUTTON */
/* Button*/
.btn {
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1.3rem 4rem;
    background: var(--main-background);
    border: none;
    box-shadow: 0px 0px 3px 1px var(--input-outline);
}

.btn:hover {
    color: var(--main-background);
    background: var(--main-text-color);
    cursor: pointer;
    transition: all 0.4s;
}

/* Icon Button */
.btn--icon {
    display: flex;
    align-items: center;
}

.btn--icon:hover {
    color: var(--main-background);
    background: var(--main-text-color);
    cursor: pointer;
    transition: all 0.4s;
}

.btn--icon__icon {
    margin-right: 0.5rem;
}

/* Button Helper */
.btn--sm {
    font-size: 1.5rem;
    padding: 0.8rem 2.3rem;
}

.btn--md {
    font-size: 1.6rem;
    padding: 1rem 2.8rem;
}

.btn--lg {
    font-size: 1.8rem;
    padding: 1.2rem 4rem;
}

/* Link Button */
.btn--link {
    border: none;
    padding: 0.1rem;
    border-bottom: 2px solid var(--main-text-color);
    box-shadow: none;
}

.btn-link:hover {
    background: var(--main-text-color);
    color: var(--main-background);
    transition: all 0.4s;
}

/* Floating Action Button */
.btn--floating {
    padding: 1.5rem;
    background: var(--main-background);
    border-radius: 50%;
    display: flex;
}

.btn--floating:hover {
    color: var(--main-background);
    background: var(--main-text-color);
    cursor: pointer;
    transition: all 0.4s;
}

/* Button Outlined */
.btn--outlined {
    border: 2px solid var(--main-text-color);
    justify-content: space-between;
}

/* HEADING */
.heading {
    font-weight: 700;
}

.heading--h1 {
    font-size: 5rem;
}

.heading--h2 {
    font-size: 4.5rem;
}

.heading--h3 {
    font-size: 4rem;
}

.heading--h4 {
    font-size: 3.5rem;
}

.heading--h5 {
    font-size: 3rem;
}

.heading--h6 {
    font-size: 2.5rem;
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

/* ALERT */
/* Alert Main Container */
.alert {
    display: flex;
    padding: 1.3rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

/* Alert Text */
.alert__text {
    font-size: 1.7rem;
    margin: auto 1rem;
    font-weight: 500;
}

/* Alert Close Icon */
.alert__icon__close {
    transition: 0.2s;
    cursor: pointer;
}

/* Alert Success Div */
.alert--success {
    background: var(--success-light);
    border: 1.8px solid var(--success-dark);
}

.alert--success--icon {
    color: var(--success-dark);
}

.alert--success--icon--close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--success-dark);
}

/* Alert Warning Dive */
.alert--warning {
    background: var(--warning-light);
    border: 1.8px solid var(--warning-dark);
}

.alert--warning--icon {
    color: var(--warning-dark);
}

.alert--warning--icon--close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--warning-dark);
}

/* Alert Error Div */
.alert--error {
    background: var(--error-light);
    border: 1.8px solid var(--error-dark);
}

.alert--error--icon {
    color: var(--error-dark);
}

.alert--error--icon--close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--error-dark);
}

/* Alert Info Div */
.alert--info {
    background: var(--info-light);
    border: 1.8px solid var(--info-dark);
}

.alert--info--icon {
    color: var(--info-dark);
}

.alert--info--icon--close:hover {
    border-radius: 50%;
    transform: scale(1.1);
    background-color: var(--info-dark);
}

/* BADGE */

/* Badge on Icons */
.icon-with-badge {
    width: fit-content;
    position: relative;
    transition: background 0.2s;
}

.icon-with-badge__icon {
    font-size: 36px;
}

.icon-with-badge__text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-background);
    position: absolute;
    top: 0px;
    right: 0px;
    background: var(--main-text-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.icon-with-badge:hover {
    color: var(--main-text-light-color);
    transform: scale(1.04);
    cursor: pointer;
}

.icon-with-badge:hover .icon-with-badge__text {
    background: var(--main-text-light-color);
    transform: scale(1.05);
    cursor: pointer;
}

/* Avatar with Badge */
.avatar-with-badge {
    position: relative;
    width: fit-content;
}

.avatar-with-badge__badge {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--success-dark);
    border-radius: 50%;
    position: absolute;
    bottom: 0.6rem;
    right: 0.1rem;
}
